version: '3'


services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: DataBaseTest
    container_name: Postgresdb
    volumes:
      - ./postgres:/var/lib/postgresql/data